.DS_Store
.idea/
.gradle/
private/
build/
**/build/
**/build/packing/*.zip
**/build/packing/*.jar
**/build/packing/download
out/
**/out/
design/resources*
desktop/build*
desktop/finisterra*
desktop/java*
desktop/packaging*
desktop/desktop*