.DS_Store
.idea/
.gradle/
private/
build/
old/
**/gradle.properties
out/
**/out/
desktop/*.tar.gz
desktop/*.zip
desktop/jdk-14
desktop/jre
desktop/openjdk-14-jpackage*.zip
desktop/desktop*
desktop/Screenshots*
