.DS_Store
.idea/
.gradle/
private/
build/
old/
**/gradle.properties
out/
**/out/
design/resources*
desktop/build/releases/*.zip
desktop/build/releases/ao-java
desktop/build/jpackage/jdk-14
desktop/build/jpackage/zip
desktop/finisterra*
desktop/java*
desktop/jdk*
desktop/desktop*
