body, html {
    height:100%;
    font-family:'Open Sans', sans-serif;
    line-height:1.5em;
    background: rgba(255,255,255,1);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F9F9F9), to(#C8C8C8)); 
    background: -webkit-linear-gradient(top, #F9F9F9, #C8C8C8); /* Firefox 3.6+ */ 
    background: -moz-linear-gradient(top, #F9F9F9, #C8C8C8); /* IE 10 */ 
    background: -ms-linear-gradient(top, #F9F9F9, #C8C8C8); /* Opera 11.10+ */ 
    background: -o-linear-gradient(top, #F9F9F9, #C8C8C8); 
    background: linear-gradient(to bottom, #F9F9F9 0%, #C8C8C8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#C8C8C8', GradientType=0 );
    background-attachment: fixed;
    text-rendering:geometricPrecision;
    margin:0;
    padding:0;
}
.wrapper {
    height:100%;
    position:relative;
    padding: 0em;
    margin: 0em;
}
#taskbar {
    background-color: #EAEAEA;
    padding: 0em;
    height:40px;
    border-bottom:2px solid #EAEAEA;
}  
#navigation {
    background-color:transparent;
    display:inline-block;
    padding-right:45px;
    padding-top:15px;
    padding-left:5px;
    position:relative;
    height:40px;
    float:left;
    min-height:100%;
    max-width:30%;
}
#block {
    margin-left: auto;
    margin-right:auto;
    max-width: 960px;
    padding-top: 0em;
    padding-bottom: 2em;
    background-color:#FFFFFF;
    height: 100%;
    overflow:hidden;
}
#content {
    display:inline-block;
    position:absolute;
    max-width: 960px;
    border-width: 0px;
    padding-left: 3em;
    padding-top: 3em;
    padding-right: 3em;
    padding-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:2em;
    background-color:#FFFFFF;
}
#menuicon{
    margin-left:20px; 
    padding-top:10px;
    width:90px;
}






