body, html {
    height:100%;
    font-family:'Open Sans', sans-serif;
    line-height:1.5em;
    font-weight:300;
    background-color:#FFFFFF;
    text-rendering:geometricPrecision;
    margin:0;
    padding:0;
}
.wrapper {
    height:100%;
    padding-bottom: 1em;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: .05em;
}
#taskbar {
    background-color: #EAEAEA;
    padding: 0px;
}
#navigation {
    background-color: #F3F3F3;
    padding: 0.8em;
    font-weight:500;
    font-size:1em;
}
#list {
    display:none;
}
#content {
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin-bottom: .5em;
}

@media (min-width: 960px) and (orientation: landscape) {
    body, html {
        height:100%;
        font-family:'Open Sans', sans-serif;
        line-height:1.5em;
        font-weight:300;
        text-rendering:geometricPrecision;
        margin:0;
        padding:0;
        background-color:#FFFFFF;
    }
    .wrapper {
        height:100%;
        position:relative;
        padding: 0em;
        margin: 0em;
    }    
    #taskbar {
        background-color: #EAEAEA;
        padding: 0em;
    }
    #sticky_taskbar{
        background-color: #EAEAEA;
        padding: 0em;
        width:100%;
    } 
    #navigation {
        background-color:#F3F3F3;
        display:inline-block;
        border-right:2px solid #EAEAEA;
        border-bottom:2px solid #EAEAEA;
        padding-right:65px;
        padding-top:15px;
        padding-left:5px;
        position:relative;
        float:left;
        min-height:100%;
        max-width:30%;
    }
    #block {
        margin: auto;
        max-width: 960px;
        padding: 2em;
    }
    #content {
        display:inline-block;
        position:absolute;
        max-width: 960px; 
        border-width: 0px;
        padding-left: 2em;
        padding-top: 1em;
        padding-right: 2em;
        padding-bottom: 2em;
        margin-left: auto;
        margin-right: auto;
    }
}
#menuicon{
    padding-left:20px; 
    padding-bottom:5px;
    padding-top:5px;
}






